<div class="container">
    <div class="row">
  
      <h1>Login</h1>
      <i class="material-icons" style="font-size: 200px;">persons</i>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese su nombre de usuario</mat-label>
        <input matInput placeholder="Placeholder" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Ingrese su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
  
      <button mat-raised-button color="primary">Ingresar</button>
    </div>
  </div>
