<p>
    <mat-toolbar color="primary"> 
    <button mat-icon-button routerLink="/Inicio" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/Inicio">Inicio</button>
    <button mat-button routerLink="/Nosotros">Nosotros</button>
    <button mat-icon-button routerLink="/register">
      <mat-icon>person</mat-icon>
    </button>
    
  </mat-toolbar>
  </p>
